# SIMULATION OF A MULTIPLE SERVER QEUEING SYSTEM USING PYTHON AND JUPYTER NOTEBOOK

## importing the data

In [11]:
import pandas as pd 
from pandas import ExcelWriter 
from pandas import ExcelFile

In [83]:
data = pd.read_excel("data/Single Server Queue System.xlsm")
Inter_arrivaltime = pd.read_csv("data/interarrival_Time.txt")
Servicetime = pd.read_csv("data/ServiceTime.txt")
csv_data = pd.read_csv("data/Single SQS.csv")
row_data = pd.read_csv('data/Single_SQS_Rowdata.csv')

In [84]:
row_data.columns

Index(['Customer', 'Arrival_Time', 'Start_Service_Time', 'End_Service_Time',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'],
      dtype='object')

In [85]:
row_data.drop(columns = ['Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'], inplace = True )

In [88]:
 df = row_data.dropna(how = 'all')

In [57]:
csv_data.set_index('Customer' , inplace = True)

In [90]:
row_data.head(9)

   Customer Arrival_Time Start_Service_Time End_Service_Time
0       1.0     08:31:00           08:31:00         08:33:25
1       2.0     08:31:23           08:33:30         08:33:47
2       3.0     08:34:00           08:34:45         08:36:00
3       4.0     08:37:25           08:38:00         08:39:40
4       5.0     08:37:34           08:39:44         08:40:20
5       6.0     08:39:07           08:40:23         08:40:47
6       7.0     08:43:03           08:43:07         08:45:00
7       8.0     08:44:00           08:44:30         08:46:12
8       9.0     08:55:00           08:55:10         08:56:00

In [61]:
csv_data.dropna(how = 'all', inplace = True)

In [62]:
csv_data.head(4)

Empty DataFrame
Columns: [Interarrival, Arrival_Time, Start_Service_Time, End_Service_Time, Queue_Waiting_Time, Service_Time, Total_Time_in_the_System, Idle_Time_of_Server, Unnamed: 9]
Index: []

In [96]:
row_data.set_index('Customer' , inplace = True)

In [101]:
df =row_data.dropna(how = 'all')

In [102]:
df.head()

         Arrival_Time Start_Service_Time End_Service_Time
Customer
1.0          08:31:00           08:31:00         08:33:25
2.0          08:31:23           08:33:30         08:33:47
3.0          08:34:00           08:34:45         08:36:00
4.0          08:37:25           08:38:00         08:39:40
5.0          08:37:34           08:39:44         08:40:20