# SIMULATION OF A MULTIPLE SERVER QEUEING SYSTEM USING PYTHON AND JUPYTER NOTEBOOK

## importing the data

In [1]:
import pandas as pd 
from pandas import ExcelWriter 
from pandas import ExcelFile

In [2]:
data = pd.read_excel("data/Single Server Queue System.xlsm")
Inter_arrivaltime = pd.read_csv("data/interarrival_Time.txt")
Servicetime = pd.read_csv("data/ServiceTime.txt")
csv_data = pd.read_csv("data/Single_SQS.csv")
row_data = pd.read_csv('data/Single_SQS_Rowdata.csv')

In [3]:
row_data.columns

Index(['Customer', 'Arrival_Time', 'Start_Service_Time', 'End_Service_Time',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'],
      dtype='object')

In [4]:
row_data.drop(columns = ['Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'], inplace = True )

In [5]:
 df = row_data.dropna(how = 'all')

In [6]:
csv_data.set_index('Customer' , inplace = True)

In [7]:
row_data.head(9)

   Customer Arrival_Time Start_Service_Time End_Service_Time
0       1.0     08:31:00           08:31:00         08:33:25
1       2.0     08:31:23           08:33:30         08:33:47
2       3.0     08:34:00           08:34:45         08:36:00
3       4.0     08:37:25           08:38:00         08:39:40
4       5.0     08:37:34           08:39:44         08:40:20
5       6.0     08:39:07           08:40:23         08:40:47
6       7.0     08:43:03           08:43:07         08:45:00
7       8.0     08:44:00           08:44:30         08:46:12
8       9.0     08:55:00           08:55:10         08:56:00

In [8]:
csv_data.dropna(how = 'all', inplace = True)

In [9]:
csv_data.head(4)

,Interarrival,Arrival_Time,Start_Service_Time,End_Service_Time,Queue_Waiting_Time,Service_Time,Total_Time_in_the_System,Idle_Time_of_Server
Customer,,,,,,,,
1,0.000000,08:31:00,08:31:00,08:33:25,0.000000,0.001678,0.001678,0.000000
2,0.000266,08:31:23,08:33:30,08:33:47,0.001470,0.000197,0.001667,0.000058
3,0.001817,08:34:00,08:34:45,08:36:00,0.000521,0.000868,0.001389,0.000671
4,0.002373,08:37:25,08:38:00,08:39:40,0.000405,0.001157,0.001563,0.001389

In [10]:
row_data.set_index('Customer' , inplace = True)

In [11]:
df =row_data.dropna(how = 'all')

In [12]:
df.head()

         Arrival_Time Start_Service_Time End_Service_Time
Customer
1.0          08:31:00           08:31:00         08:33:25
2.0          08:31:23           08:33:30         08:33:47
3.0          08:34:00           08:34:45         08:36:00
4.0          08:37:25           08:38:00         08:39:40
5.0          08:37:34           08:39:44         08:40:20

In [13]:
csv_data.dropna(how  = 'all', inplace = True)

In [14]:
csv_data.columns

Index(['Interarrival', 'Arrival_Time', 'Start_Service_Time',
       'End_Service_Time', 'Queue_Waiting_Time', 'Service_Time',
       'Total_Time_in_the_System', 'Idle_Time_of_Server'],
      dtype='object')

In [15]:
csv_data.head(9)

,Interarrival,Arrival_Time,Start_Service_Time,End_Service_Time,Queue_Waiting_Time,Service_Time,Total_Time_in_the_System,Idle_Time_of_Server
Customer,,,,,,,,
1,0.000000,08:31:00,08:31:00,08:33:25,0.000000,0.001678,0.001678,0.000000
2,0.000266,08:31:23,08:33:30,08:33:47,0.001470,0.000197,0.001667,0.000058
3,0.001817,08:34:00,08:34:45,08:36:00,0.000521,0.000868,0.001389,0.000671
4,0.002373,08:37:25,08:38:00,08:39:40,0.000405,0.001157,0.001563,0.001389
5,0.000104,08:37:34,08:39:44,08:40:20,0.001505,0.000417,0.001921,0.000046
6,0.001076,08:39:07,08:40:23,08:40:47,0.000880,0.000278,0.001157,0.000035
7,0.002731,08:43:03,08:43:07,08:45:00,0.000046,0.001308,0.001354,0.001620
8,0.000660,08:44:00,08:44:30,08:46:12,0.000347,0.001181,0.001528,0.000000
9,0.007639,08:55:00,08:55:10,08:56:00,0.000116,0.000579,0.000694,0.006227

In [16]:
csv_data['Interarrival']

Customer
1      0.000000
2      0.000266
3      0.001817
4      0.002373
5      0.000104
6      0.001076
7      0.002731
8      0.000660
9      0.007639
10     0.000694
11     0.002593
12     0.003368
13     0.000023
14     0.001169
15     0.000486
16     0.000694
17     0.000058
18     0.000637
19     0.000243
20     0.000683
21     0.000023
22     0.000833
23     0.001748
24     0.001609
25     0.000035
26     0.000185
27     0.002558
28     0.001308
29     0.000069
30     0.000023
         ...
121    0.000498
122    0.002662
123    0.002234
124    0.003183
125    0.002338
126    0.001539
127    0.000069
128    0.003530
129    0.001458
130    0.000532
131    0.000035
132    0.000023
133    0.000995
134    0.000961
135    0.000498
136    0.000081
137    0.000914
138    0.000509
139    0.000081
140    0.000012
141    0.000486
142    0.000382
143    0.000046
144    0.000174
145    0.000127
146    0.000451
147    0.000116
148    0.000162
149    0.000243
150    0.000104
Name: Interarrival, Length: 150, dtype: float64

In [17]:
df.head()

         Arrival_Time Start_Service_Time End_Service_Time
Customer
1.0          08:31:00           08:31:00         08:33:25
2.0          08:31:23           08:33:30         08:33:47
3.0          08:34:00           08:34:45         08:36:00
4.0          08:37:25           08:38:00         08:39:40
5.0          08:37:34           08:39:44         08:40:20