# SIMULATION OF A MULTIPLE SERVER QEUEING SYSTEM USING PYTHON AND JUPYTER NOTEBOOK

## importing the data

In [11]:
import pandas as pd 
from pandas import ExcelWriter 
from pandas import ExcelFile

In [15]:
data = pd.read_excel("data/Single Server Queue System.xlsm")
Inter_arrivaltime = pd.read_csv("data/interarrival_Time.txt")
Servicetime = pd.read_csv("data/ServiceTime.txt")
csv_data = pd.read_csv("data/Single SQS.csv")

In [14]:
Inter_arrivaltime.rename(columns ={'0.00':'I_arri'})

Index(['0.00'], dtype='object')

In [45]:
csv_data.set_index('Customer' , inplace = True)

In [52]:
csv_data.dropna(how = 'any', inplace = True)

In [54]:
csv_data.head(4)

,Interarrival,Arrival_Time,Start_Service_Time,End_Service_Time,Queue_Waiting_Time,Service_Time,Total_Time_in_the_System,Idle_Time_of_Server
Customer,,,,,,,,
1.0,00:00:00,08:31:00,08:31:00,08:33:25,00:00:00,00:02:25,00:02:25,00:00:00
2.0,00:00:23,08:31:23,08:33:30,08:33:47,00:02:07,00:00:17,00:02:24,00:00:05
3.0,00:02:37,08:34:00,08:34:45,08:36:00,00:00:45,00:01:15,00:02:00,00:00:58
4.0,00:03:25,08:37:25,08:38:00,08:39:40,00:00:35,00:01:40,00:02:15,00:02:00